{% extends 'base.html' %}


{% block content %}

<h2 class="mb-3">Mark Attendance</h2>

<form method="POST" class="row g-3 w-75">
    {% csrf_token %}

    <div class="col-md-6">
        <label class="form-label">Members</label>
        <select name="member_id" class="form-select" required>
            <option value="">Select Member</option>
            {% for member in members %}
                <option value="{{ member.id }}"> {{ member.full_name }} ({{ member.user.username }}) </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <label class="form-label">Date</label>
        <input type="date" class="form-control" name="date" required>
    </div>

    <div class="col-md-3">
        <label class="form-label">Time In</label>
        <input type="time" class="form-control" name="time_in" required>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary"> Add Attendance </button>
        <a href="{% url 'admin_attendance_list' %}" class="btn btn-secondary"> Cancel </a>
    </div>
</form>

{% endblock %}