{% extends 'base.html' %}


{% block content %}

<h2 class="mb-3">
    {% if mode == 'add' %} Add Plan {% else %} Edit Plan {% endif %}
</h2>

<form method="POST" class="row g-3 w-75">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="name" class="form-label">Plan Name</label>
        <input type="text" id="name" class="form-control" name="name" value="{{ plan.name | default:'' }}">
    </div>

    <div class="col-md-3">
        <label for="duration_months" class="form-label">Duration (months)</label>
        <input type="number" id="duration_months" class="form-control" name="duration_months" value="{{ plan.duration_months | default:'' }}">
    </div>

    <div class="col-md-3">
        <label for="fee" class="form-label">Plan Fee</label>
        <input type="number" step="0.01" id="fee" class="form-control" name="fee" value="{{ plan.fee | default:'' }}">
    </div>

    <div class="col-md-12">
        <label for="description" class="form-label">Description or Features</label>
        <textarea type="text" id="description" class="form-control" name="description" rows="3">{{ plan.description | default:'' }}</textarea>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">
            {% if mode == 'add' %} Add Plan {% else %} Update Plan {% endif %}
        </button>
        <a href="{% url 'admin_plans_list' %}" class="btn btn-secondary"> Cancel </a>
    </div>
</form>

{% endblock %}