{% extends 'base.html' %}


{% block content %}


<h2 class="mb-3">My Workout Plans</h2>

{% if workout_plans %}
    <div class="row g-3">
        {% for wp in workout_plans %}
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        {{ wp.title }}
                    </div>

                    <div class="card-body">
                        <p class="small text-muted mb-1">{{ wp.created_at }}</p>
                        <p style="white-space: pre-line;;">{{ wp.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>You have no Workout or diet Plan assigned yet. Please check back later or contact the Gym</p>
{% endif %}

{% endblock %}